<section class="adbdg">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h4 class="text-dark">
        <i class="text">
       <strong> We believe that music connects directly with the <br>
        soul. So, presenting to you. The 'Musix App'. We deliver <br>
        to you the the best and the latest songs you would love! <br>
        listening to .&#128516; </strong>
                <br>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &mdash; Team Musix-App <span style="height: 120%; width: 120%;">&#128151;</span>
        </i>   
    </h4>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


</section>
