
<div class="container fluid bg">
    <div class="row justify-content-center">
        <div class="col-md-4 offset-md-4 form-div">
            <form id="form-register">
                <h1 class="text-center">Register</h1>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input [(ngModel)]="this.user.name"type="text" name="username" class= "form-control form-control-lg"
                    placeholder="enter the user name"/>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input [(ngModel)]="this.user.email" type="email" name="email" class= "form-control form-control-lg"
                    placeholder="enter the email-id"/>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input [(ngModel)]="this.user.password" type="password" name="password" class= "form-control form-control-lg"
                    placeholder="enter the password"/>
                </div>

                <div class="form-group">
                    <label for="confirm password">Confirm Password</label>
                    <input type="password" name="confirm password" class= "form-control form-control-lg"
                    placeholder="confirm the password"/>
                </div>
                <div class="form-group m-0">
                    <button (click)="registerUser()" type="submit" name="submit" form="form-register" class="btn btn-danger btn-block" >
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

