
<footer class="bg-light text-danger mt-5 pt-2">
    <div class="container-fluid">
        <div class="row">
            <nav class="nav mr-auto">
                <a class="nav-link active text-dark" href="#">About us</a>
                <a class="nav-link text-dark" href="#">Terms of Use</a>
                <a class="nav-link text-dark" href="#">Feedback</a>
                <a class="nav-link text-dark" href="#">App</a>
            </nav>

            <nav class="nav ml-auto social-links">
                <a class="icons-sm fb-ic" target="_blank" href="https://en-gb.facebook.com/?lang=en"><mdb-icon fab icon="facebook-f"></mdb-icon></a>
                <a class="icons-sm in-ic" target="_blank" href="https://www.instagram.com/?lang=en"><i class="fab fa-instagram"></i></a>
                <a class="icons-sm tw-ic" target="_blank" href="https://twitter.com/?lang=en"><mdb-icon fab icon="twitter"></mdb-icon></a>
                <!-- <a class="nav-link active text-dark" target="_blank" href="https://twitter.com/?lang=en">Twitter</a> -->
                <!-- <a class="nav-link active text-dark" target="_blank" href="https://en-gb.facebook.com/?lang=en">Facebook</a>    -->
            </nav>
        </div>
        <div class="footer mt-3 text-center text-dark ml-auto mr-auto">
            <h4>copyright &copy; 2020 by Musix-App &trade; <span>All rigts reserved</span></h4> 
        </div>
    </div>
    
</footer>



