.card-img-top{
    max-width:100%; 
     height:auto; 
    max-width: 250px;
    box-shadow: 0px 0px 10px 0px #000;
    padding: 3px 3px 3px 3px;
}
.img-circle{
    border-radius: 50%;
    margin:10px;
}

.btn{
    padding-right: 2px;
  }
    .btn-circle{
      border-radius: 50%;
      color: white;
      outline: none;
      box-shadow: none;
      
  }
  .btn-circle:focus,.btn-circle:active:focus,.btn-circle.active:focus,
  .btn-circle.focus,.btn-circle:active.focus,.btn-circle.active.focus {
      outline: none;
  }
.clear{
    clear:both;
}
.myClass{
    color :red;
  }

.myRem{
    color: rgb(0, 204, 0);
 }

 .albumBtn{
  border:none;
  outline: none;
 }

 .jumbotron{
   background-color:rgba(243, 0, 0, 0.692);
   font-size: 25px;
   box-shadow: 0px 0px 10px 0px #000;
   
 }